

{{#each posts as |post|}}
<div>
    <h2>
    <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.title}} on {{format_date post.date_created}}</p>
</div>
<div>
    <p>
        {{post.Comment}}
    </p>
</div>
{{/each}}
</body>

</html>